.section-about {
  background-color: $color-grey-light-1;
  padding: 30rem 0;
  margin-top: -10vh;

  &__content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  &__text {
    padding-right: 4rem;
    width: 50%;
  }

  &__photos {
    width: 50%;
  }
}

// photo composition
.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--1 {
      left: 0;
      top: -2rem;
    }
    &--2 {
      right: 0;
      top: 2rem;
    }
    &--3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      outline: 1.5rem solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-5deg);
  margin-top: -10vh;

  .fix-skew {
    display: flex;
    justify-content: space-evenly;
  }

  & > * {
    transform: skewY(5deg);
  }

  &__box {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    width: 20%;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
  &__icon {
    width: 6rem;
    height: 6rem;
    fill: $color-primary;
  }

  &__text {
  }
}
